@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

header {
  background-color: #007bff;
  color: white;
  padding: 20px; }
  header nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0; }
    header nav li {
      cursor: pointer;
      transition: color 0.3s; }
      header nav li:hover {
        color: #d0ff00; }
      header nav li a {
        text-decoration: none;
        color: inherit; }
        header nav li a:visited {
          color: inherit; }

section {
  padding: 50px; }
  section .imagem h2,
  section .imagem p,
  section .sobreMim h2,
  section .sobreMim p,
  section .habilidades h2,
  section .habilidades p,
  section .experiencia h2,
  section .experiencia p,
  section .portfolio h2,
  section .portfolio p {
    color: #333;
    margin-bottom: 10px; }
  section .imagem p,
  section .sobreMim p,
  section .habilidades p,
  section .experiencia p,
  section .portfolio p {
    line-height: 1.6; }
  section .imagem {
    display: flex;
    justify-content: center;
    align-items: center; }
    section .imagem #imag {
      max-width: 30%;
      height: 100%;
      border-radius: 50%; }
  section .contact-form label {
    display: block;
    margin-bottom: 5px; }
  section .contact-form input,
  section .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: inherit; }
  section .contact-form textarea {
    resize: vertical; }
  section .contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; }
    section .contact-form button:hover {
      background-color: #0062cc; }

.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  padding: 0 22px;
  margin-top: 10px; }

.project-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out; }
  .project-container:hover {
    transform: scale(1.05);
    z-index: 2; }
  .project-container .project-window {
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
    object-position: center; }
    .project-container .project-window::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--bg-color);
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
  .project-container:hover .project-window::before {
    opacity: 0.5; }
